<div class="min-h-screen w-full"
[ngClass]="{'block':menuclicked,'flex':!menuclicked}">



  <div class="item-center justify-center "
  [ngClass]="{'hidden md:flex':!menuclicked}">

    <!-- Sidebar -->
    <div class="p-4  bg-surface-low ">
      <app-sidebar />
    </div>
  </div>

  <div class=" flex-col  w-full bg-background "
  [ngClass]="{'hidden md:flex':menuclicked}">
    <!-- Navbar -->
    <div class="flex border-b border-[#0000001A] items-center w-full justify-between md:justify-end">
      <div class="flex px-6 py-3 md:hidden">
         <img src="assets/Button.svg" width="26" height="20" alt="menu" class="me-4 " 
        
         (click)="menuclicked=true"/>
        <app-taskly [icon]="false"/>
      </div>
      <div class=" flex px-6 py-3  ">
        <app-navbar />
      </div>
    </div>

    <!-- Content -->
    <div class="flex-grow-1 ">
      <router-outlet />
    </div>
  </div>



</div>