<div class="h-full bg-background p-4">
  @if(projects().length>0){
  <!-- Header -->
  <div class="mb-5 flex items-start justify-between">
    <div>
      <h1 class="text-[16px] font-semibold text-secondary-dark">Projects</h1>

      <p class="mt-1 text-[8px] text-secondary-dark">Manage and curate your projects</p>
    </div>

    <button
      type="button"
      class="cursor-pointer add h-6 bg-primary-dark px-4 text-[8px] font-medium text-white transition hover:bg-primary-container"
      routerLink="/project/add"
    >
     <span class="hidden md:inline">Create New Project</span>
  <span class="inline md:hidden ">+</span>
    
    </button>
  </div>

  <!-- Projects Grid -->
  <div class="grid grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-3">
    @for (project of paginatedProjects(); track project.id) {
    <app-project-card [project]="project" />

    }

    <!-- Add Project -->
      @if (currentPage() === totalPages()) {
    <app-add-project-card />
      }
  </div>
    <app-pagination
    [totalItems]="projects().length"
    [pageSize]="pageSize"
    [currentPage]="currentPage()"
    (pageChange)="onPageChange($event)"
  />
  } @else {

  <app-noitems></app-noitems>
  }

</div>
