
  <!-- Right Side: User Profile Section -->
  
  <div class="flex items-center gap-4 ">
    <!-- User Information -->
    <div class="text-right">
      <div class="text-sm font-semibold text-secondary-dark">
        {{ name() }}
      </div>
      <div class="text-[10px] font-bold  leading-[20px] tracking-[1px]  uppercase text-primary-dark uppercase">
        {{department()}}
      </div>
    </div>

    <!-- User Initials Avatar -->
    <div class="rounded-2 ">
     <img  [src]="'assets/MT.svg' " width="40" height="40" alt="avatar">
    </div>
  
  </div>

